<header class="site-header">
  <div class="container nav-inner">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Posts</a>
      <a href="{{ '/timeline' | relative_url }}" {% if page.url == '/timeline' %}class="active"{% endif %}>Timeline</a>
      <a href="{{ '/about' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
    </nav>
  </div>
</header>
