<header class="site-header">
  <div class="container nav-inner">
    <a class="site-title" href="{{ '/' | relative_url }}">
      <img class="nav-flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/500px-Flag_of_Brazil.svg.png" alt="Brazil">
      {{ site.title }}
    </a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Timeline</a>
      <a href="{{ '/posts/' | relative_url }}" {% if page.url == '/posts/' %}class="active"{% endif %}>Posts</a>
      <a href="{{ '/about' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
    </nav>
  </div>
</header>
